html,
body {
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
  height: 100%;
  max-width: 100%;
  margin: 0px;
  background-color: #fafafa;
}
a {
  color: #049ba2;
}
.container-fluid {
  background-color: white;
}
.mappanel {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 20rem;
  -webkit-height: 65vh;
  -moz-height: 65vh;
  -ms-height: 65vh;
  -o-height: 65vh;
  display: inline-block;
  position: relative;
}
.resultspanel {
  position: relative;
  float: left;
  width: 100%;
  height: 95%;
  float: right;
  padding-top: 3px;
  background-color: #fafafa;
}
.intropanel {
  z-index: 25;
  position: relative;
  width: 100%;
  height: 100%;
}
.intropanel .introcontainer {
  margin-top: 110px;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.contentpanel {
  width: 100%;
}
.searchpanel {
  z-index: 50;
  position: absolute;
  padding-top: 10px;
  width: 100%;
  background-color: #fafafa;
}
.footerpanel {
  position: relative;
  width: 100%;
}
.footer {
  width: 100%;
  position: absolute;
  background-color: #666;
  padding-top: 1em;
  padding-bottom: 1em;
  text-align: center;
  border-top: 1px solid #e5e5e5;
}
.FAQcontainer {
  margin-top: 2rem;
  margin-bottom: 2rem;
}
#custom-templates {
  width: 100%;
}
.map {
  height: 100%;
  width: 100%;
  border: 1px solid #ccc;
  margin-left: -2px;
}
.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}
img.small-balloon {
  width: 10px;
}
a.right-image {
  text-align: right;
  display: block;
}
a,
img {
  border: none;
  outline: none;
}
img.logo {
  width: 100px;
  display: inline-block;
  margin-left: auto;
  margin-right: auto;
}
img.firstlogo {
  padding-right: 1em;
}
p.footertext {
  font-size: 10px;
  padding-top: 0;
  margin-top: 0;
  color: #fff;
}
p.fineprint {
  font-size: 11px;
}
a.header {
  text-decoration: none;
}
/* Custom page footer */
.container-narrow > hr {
  margin: 30px 0;
}
/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}
/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}
div.results {
  width: 90%;
  margin-left: 5%;
  margin-right: 5%;
}
.result-text {
  font-size: .9rem;
}
#progress {
  display: none;
  position: absolute;
  z-index: 1000;
  left: 400px;
  top: 300px;
  width: 200px;
  height: 20px;
  margin-top: -20px;
  margin-left: -100px;
  background-color: #fff;
  background-color: rgba(255, 255, 255, 0.7);
  border-radius: 4px;
  padding: 2px;
}
#progress-bar {
  width: 0;
  height: 100%;
  background-color: #76A6FC;
  border-radius: 4px;
}
.twitter-typeahead {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: middle;
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
}
.typeahead,
.tt-query,
.tt-hint {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  height: 3rem;
  font-size: 17px;
  line-height: 26px;
  border: 2px solid #ccc;
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  outline: none;
  flex-grow: 1;
}
.typeahead {
  background-color: #fff;
}
.typeahead:focus {
  border: 2px solid #049ba2;
}
.tt-query {
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  -o-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
}
.tt-hint {
  color: #999;
}
.tt-menu {
  width: 95%;
  margin-left: 2.5%;
  margin-right: 2.5%;
  margin-top: 12px;
  padding: 8px 0;
  max-height: 150px;
  overflow-y: auto;
  background-color: #fff;
  border: 1px solid #ccc;
  border: 1px solid rgba(0, 0, 0, 0.2);
  -webkit-border-radius: 8px;
  -moz-border-radius: 8px;
  -o-border-radius: 8px;
  border-radius: 8px;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -moz-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  -o-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
  box-shadow: 0 5px 10px rgba(0, 0, 0, 0.2);
}
.tt-suggestion {
  padding: 3px 20px;
  font-size: 18px;
  line-height: 24px;
}
.tt-suggestion.tt-cursor,
.tt-suggestion:hover {
  cursor: pointer;
  color: #fff;
  background-color: #049ba2;
}
.tt-suggestion p {
  margin: 0;
}
.navbar {
  float: left;
  position: relative;
  width: 100%;
  height: 4rem;
  background-color: #049ba2;
}
.navbar .logo-container {
  float: left;
  height: 100%;
  width: 10%;
  display: table-cell;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: top;
  align-items: center;
}
.navbar .logo-container .logo {
  color: #fefefe;
  margin-left: 2rem;
  margin-top: 0rem;
  text-decoration: none;
  display: table-cell;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: top;
  align-items: center;
}
.navbar .logo-container .logo:hover {
  color: #323232;
}
.navbar .nav-menu {
  float: right;
  height: 100%;
  display: inline-block;
  padding: 0;
  margin: 0;
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: middle;
  align-items: center;
}
.navbar .nav-menu li {
  display: -webkit-box;
  display: -moz-box;
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;
  vertical-align: middle;
  list-style: none;
  padding-left: .75rem;
  padding-right: .75rem;
}
.navbar .nav-menu li a {
  color: #fefefe;
}
.beta-container {
  width: 100%;
  position: absolute;
  text-align: center;
  color: yellow;
}
.intro-paragraph {
  font-size: .9rem;
}
.FAQ-item {
  cursor: pointer;
  position: relative;
  width: 80%;
  margin-left: 10%;
  padding-top: .5rem;
  padding-bottom: .5rem;
  margin-top: 1rem;
  margin-bottom: 1rem;
  background-color: #dfdfdf;
  border-radius: .5rem .5rem .5rem .5rem;
  box-shadow: 1px 2px 2px #b8b8b8;
}
.FAQ-item h4 {
  margin: 0rem;
  margin-left: .5rem;
  margin-right: .5rem;
}
.FAQ-item h4 p {
  height: 100%;
  float: left;
  margin: 0;
  margin-right: 1rem;
}
.FAQ-item h4 span {
  margin-left: .5rem;
  margin-right: .5rem;
}
.FAQ-item h4 .expanded-icon {
  color: #e74c3c;
}
.FAQ-expand {
  position: relative;
  width: 90%;
  margin-left: 5%;
  height: auto;
  background-color: #dfdfdf;
  display: none;
  border-radius: .5rem .5rem .5rem .5rem;
}
.FAQ-expand * {
  display: none;
}
.FAQ-expand p {
  font-size: .9rem;
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
.FAQ-expand ul {
  margin: 1rem;
  padding-top: 1rem;
  padding-bottom: 1rem;
}
#FAQ-notfound-expand p {
  color: #e74c3c;
}
.error-text {
  color: #e74c3c;
}
#custom-templates .empty-message {
  padding: 5px 10px;
}
@-webkit-keyframes fadeInDown {
  0% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
}
@-moz-keyframes fadeInDown {
  0% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
}
@-o-keyframes fadeInDown {
  0% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    -o-transform: translateY(0);
  }
}
@keyframes fadeInDown {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}
.fade-in-down {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: fadeInDown;
  -moz-animation-name: fadeInDown;
  -o-animation-name: fadeInDown;
  animation-name: fadeInDown;
}
@-webkit-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -webkit-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(-20px);
  }
}
@-moz-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -moz-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -moz-transform: translateY(-20px);
  }
}
@-o-keyframes fadeOutUp {
  0% {
    opacity: 1;
    -o-transform: translateY(0);
  }
  100% {
    opacity: 0;
    -o-transform: translateY(-20px);
  }
}
@keyframes fadeOutUp {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}
.fade-out-up {
  -webkit-animation-duration: 0.5s;
  -moz-animation-duration: 0.5s;
  -o-animation-duration: 0.5s;
  animation-duration: 0.5s;
  -webkit-animation-fill-mode: both;
  -moz-animation-fill-mode: both;
  animation-fill-mode: both;
  -webkit-animation-timing-function: ease-in-out;
  -moz-animation-timing-function: ease-in-out;
  animation-timing-function: ease-in-out;
  -webkit-animation-name: fadeOutUp;
  -moz-animation-name: fadeOutUp;
  -o-animation-name: fadeOutUp;
  animation-name: fadeOutUp;
}
/* Responsive: Portrait tablets and up */
@media screen and (min-width: 45rem) {
  .mappanel {
    margin: 0%;
    width: 60%;
    height: 40rem;
    height: 91%;
    display: inline-block;
    position: relative;
  }
  .resultspanel {
    width: 40%;
    margin: 0%;
    float: left;
    height: 91VH;
    overflow-y: hidden;
  }
  .intropanel {
    height: 100%;
    width: 100%;
    margin-left: 0;
    margin-right: 0;
    overflow-y: auto;
    background-color: #fafafa;
  }
  .intropanel .introcontainer {
    margin-top: 110px;
  }
  .footerpanel {
    bottom: 0;
  }
  .nav {
    height: 7%;
  }
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .navbar {
    height: 7%;
  }
  .FAQ-item {
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
}
@media screen and (min-width: 60rem) {
  .mappanel {
    margin: 0%;
    width: 70%;
    height: 40rem;
    height: 91%;
    display: inline-block;
    position: relative;
  }
  .resultspanel {
    width: 30%;
  }
  .FAQ-item {
    width: 90%;
    margin-left: 5%;
    margin-right: 5%;
  }
}
